.content {
/* 	max-width: 960px; */
	margin: 0 auto;
	background: #f9f9f9;
	font-size: 24px;
}
* {
  border-radius: 0 !important;
}

.parallax {
    min-height: 550px;
    background: transparent;
    
    display: flex;
	align-items: center;
}
.parallax-full {
    min-height: 100vh;
    background: transparent;
    
    display: flex;
	align-items: center;
}

.parallax .card-block, .parallax-full .card-block {
	padding: 1rem;
}

.carousel-inner > .carousel-item > img {
  margin: auto;
  height: 500px;
	max-width: 100%
}

.info {
	min-height: 550px;
}


.constellation {
	background-color: #20232D;
}
/* .parallax { */
/* 	background: url('/img/whiskey_pour.jpg') no-repeat center; */
/* 	background-size: cover; */
/* 	background-attachment: fixed; */
/* 	height: 500px; */
/* } */