<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/master}">
<head></head>
<body>
	<div layout:fragment="page">
		<div class="w3-top">
		  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
		    <a href="#home" class="w3-bar-item w3-button">Liquor In Transit</a>
		    <!-- Right-sided navbar links. Hide them on small screens -->
		    <div class="w3-right w3-hide-small">
		      <a href="#about" class="w3-bar-item w3-button">About</a>
		      <a href="#menu" class="w3-bar-item w3-button">Menu</a>
		      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
		    </div>
		  </div>
		</div>


<!-- 			<div class="navbar-wrapper"> -->
<!-- 				<div class="navbar navbar-inverse navbar-static-top"> -->
<!-- 					<div class="container"> -->
<!-- 						This is the section for the button when things get too small, or in IE8 -->
<!-- 						<button type="button" class="navbar-toggle" data-toggle="collapse" -->
<!-- 							data-target=".navbar-collapse"> -->
<!-- 							<span class="icon-bar"></span> <span class="icon-bar"></span> <span -->
<!-- 								class="icon-bar"></span> -->
<!-- 						</button> -->
<!-- 						Done Button -->

<!-- 						<div class="navbar-collapse collapse"> -->
<!-- 							<ul class="nav navbar-nav"> -->

<!-- 								<li><a th:href="@{~/}">Home</a></li> -->

<!-- 								<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a> -->
<!-- 									<ul class="dropdown-menu"> -->
<!-- 										<li><a th:href="@{/}">Home</a></li> -->
<!-- 										<li><a th:href="@{/}">Home</a></li> -->
<!-- 									</ul> -->
<!-- 								</li> -->

<!-- 							</ul> -->
<!-- 						</div> -->
						
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->

		<div layout:fragment="content"></div>
	</div>
</body>
</html>