<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/header}">
<head>
<title>Home Page</title>
</head>
<body>
	<div layout:fragment=content>
		<!-- Header -->
<!-- 		<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home"> -->
<!-- 		  <img class="w3-image" src="/img/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800"> -->
<!-- 		  <div class="w3-display-bottomleft w3-padding-large w3-opacity"> -->
<!-- 		    <h1 class="w3-xxlarge">Liquor In Transit</h1> -->
<!-- 		  </div> -->
<!-- 		</header> -->
		
		<!-- Page content -->
<!-- 		<div class="w3-content" style="max-width:1100px"> -->
		
<!-- 		  About Section -->
<!-- 		  <div class="w3-row w3-padding-64" id="about"> -->
<!-- 		    <div class="w3-col m6 w3-padding-large w3-hide-small"> -->
<!-- 		     <img src="/img/tablesetting2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750"> -->
<!-- 		    </div> -->
		
<!-- 		    <div class="w3-col m6 w3-padding-large"> -->
<!-- 		      <h1 class="w3-center">About LIT</h1><br> -->
<!-- 		      <h5 class="w3-center">Tradition since 1889</h5> -->
<!-- 		      <p class="w3-large">The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p> -->
<!-- 		      <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
<!-- 		    </div> -->
<!-- 		  </div> -->
		  
<!-- 		  <hr> -->
		  
<!-- 		  Menu Section -->
<!-- 		  <div class="w3-row w3-padding-64" id="menu"> -->
<!-- 		    <div class="w3-col l6 w3-padding-large"> -->
<!-- 		      <h1 class="w3-center">Our Menu</h1><br> -->
<!-- 		      <h4>Bread Basket</h4> -->
<!-- 		      <p class="w3-text-grey">Assortment of fresh baked fruit breads and muffins 5.50</p><br> -->
		    
<!-- 		      <h4>Honey Almond Granola with Fruits</h4> -->
<!-- 		      <p class="w3-text-grey">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br> -->
		    
<!-- 		      <h4>Belgian Waffle</h4> -->
<!-- 		      <p class="w3-text-grey">Vanilla flavored batter with malted flour 7.50</p><br> -->
		    
<!-- 		      <h4>Scrambled eggs</h4> -->
<!-- 		      <p class="w3-text-grey">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br> -->
		    
<!-- 		      <h4>Blueberry Pancakes</h4> -->
<!-- 		      <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>     -->
<!-- 		    </div> -->
		    
<!-- 		    <div class="w3-col l6 w3-padding-large"> -->
<!-- 		      <img src="/img/tablesetting.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" width="500" height="750"> -->
<!-- 		    </div> -->
<!-- 		  </div> -->
		
<!-- 		  <hr> -->
		
<!-- 		  Contact Section -->
<!-- 		  <div class="w3-container w3-padding-64" id="contact"> -->
<!-- 		    <h1>Contact</h1><br> -->
<!-- 		    <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p> -->
<!-- 		    <p class="w3-text-blue-grey w3-large"><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p> -->
<!-- 		    <p>You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:</p> -->
<!-- 		    <form action="/action_page.php" target="_blank"> -->
<!-- 		      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p> -->
<!-- 		      <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People"></p> -->
<!-- 		      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p> -->
<!-- 		      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p> -->
<!-- 		      <p><button class="w3-button w3-light-grey w3-section">SEND MESSAGE</button></p> -->
<!-- 		    </form> -->
<!-- 		  </div> -->
		  
		<!-- End page content -->
<!-- 		</div> -->
		<section class="header9 cid-qA3HsxHqSp mbr-fullscreen mbr-parallax-background" id="header9-i" data-rv-view="36">

    

    

    <div class="container">
        <div class="media-container-column mbr-white col-md-8">
            <h1 class="mbr-section-title align-left mbr-bold pb-3 mbr-fonts-style display-1">
                Liquor In Transit</h1>
            <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-2">
                Alcohol Delivery Made Easy</h3>
            <p class="mbr-text align-left pb-3 mbr-fonts-style display-5">
                Order alcohol ya hoes</p>
            
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="engine"><a href="https://mobirise.co/j">how to design your own website for free</a></section><section class="tabs1 cid-qA3HJzlSHC mbr-parallax-background" id="tabs1-k" data-rv-view="39">

    

    
    <div class="container">
        <h2 class="mbr-white align-center pb-5 mbr-fonts-style mbr-bold display-2">
            It's Easy</h2>
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link mbr-fonts-style active display-7" role="tab" data-toggle="tab" href="#tabs1-k_tab0" aria-expanded="true">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style active display-7" role="tab" data-toggle="tab" href="#tabs1-k_tab1" aria-expanded="true">
                            Make Your Order</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style active display-7" role="tab" data-toggle="tab" href="#tabs1-k_tab2" aria-expanded="true">
                            Get LIT<br></a></li>
                    
                    
                    
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane in active" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text py-5 mbr-fonts-style display-7">
                                    It's easy to sign up. Do it through the app though...</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text py-5 mbr-fonts-style display-7">
                                    Set your drop off location, add shit to the cart like Amazon, and order it.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab3" class="tab-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text py-5 mbr-fonts-style display-7">
                                    Receive your boose in under 2 hours and then drink it. Get LIT</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-qA3HAclViy mbr-parallax-background" id="features17-j" data-rv-view="42">
    
    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container-fluid">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/01.jpg" alt="Mobirise" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Sign up</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            This signup page is easy. duh</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/02.jpg" alt="Mobirise" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Set Dropoff Location</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Where are you partying? Send the booze there.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/03.jpg" alt="Mobirise" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Choose your booze</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Add shit to your cart. If its not available, you'll inconveniently be alerted at checkout.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/04.jpg" alt="Mobirise" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Receive Updates</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Know when a driver is getting your booze, when they're on their way, and when they're real close to you.</p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/01.jpg" alt="Mobirise" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Pay your shit. It ain't free</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Once your shit's delivered, you gotta pay and the driver will verify the delivery. Done and done.</p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/02.jpg" alt="Mobirise" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Get LIT</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Drink that shit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cid-qA3BAZuK7X" id="footer1-g" data-rv-view="45">

    

    

    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="https://mobirise.com/">
                        <img src="assets/images/mbr-715x1080.jpg" alt="Mobirise" title="" media-simple="true">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Address
                </h5>
                <p class="mbr-text">
                    1234 Street Name
                    <br>City, AA 99999
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email: support@mobirise.com
                    <br>Phone: +1 (0) 000 0000 001
                    <br>Fax: +1 (0) 000 0000 002
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3"></h5>
                <p class="mbr-text"></p>
            </div>
        </div>
        
    </div>
</section>



	</div>
</body>
</html>